.icon {
    display: inline-block;
    color: white;
    margin-right: 10px;
}

.small {
    width: 20px;
    height: 20px;
}

.medium {
    width: 40px;
    height: 40px;
}

.large {
    width: 60px;
    height: 60px;
}

.cupcake {
    content: url('../../assets/icons/cupcake.png');
}

.cookie {
    content: url('../../assets/icons/cookie.svg');
}

.about {
    content: url('../../assets/icons/chef.svg');
}

.contact {
    content: url('../../assets/icons/contact.svg')
}

.home {
    content: url('../../assets/icons/home.svg')
}

.checkout {
    content: url('../../assets/icons/checkout.svg')
}