.settings-container {
    width: 100%;
    display: flex;

    justify-content: space-evenly;
}


.create-item {
    width: 40%;
}

.display-items {
    width: 40%;
}

.item-body {
    display: flex;
    flex-direction: row;

    align-items: flex-start;
    justify-content: space-between;
}

.item-info {
    display: flex;
    flex-direction: column;
}

.item-remove {
    display: flex;
}